@import '_var.scss';

body{
  margin: 0;
  padding: 0;
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  background-color: #222222;
}

input,textarea,select,option{
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  padding: 2px;
}

button{
  margin-right: 4px;
  border: none;
  border-radius: 6px;
  background-color: #30b7ec;
  color: white;
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding: 2px 8px;
  min-width: 52px;
  &.danger{
    background-color: rgb(223, 63, 52);
  }
  &.confirm{
    background-color: #84cc32;
  }
  &:disabled{
    background-color: #888;
  }
}

select{
  border: none;
  padding: 5px 6px;
  min-width: 140px;
  font-size: 1em;
  border-color: #222222;
  background-color: #222222;
  color: #ffcc33;
  border-radius: 6px;
  margin-bottom: 6px;
}

div.form{
  textarea, input{
    resize: vertical;
    border-radius: 2px;
    border: black 1px solid;
  }
}

.counter{
  color: #84cc32;
  border-radius: 4px;
  border: 2px #84cc32 solid;
  padding: 4px;
}

h1{
  color: #FFCC33;
}

nav{
  padding: 10px;
  background-color: #333333;
  height: 52px;
  box-sizing: border-box; 
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 50;
  a{
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #FFCC33;
  }
}

a.card{
  user-select: none;
  -webkit-user-drag: none;
}
.main{
  padding-top: 52px;
  background-color: #222222;
}
section{
  padding: 1em 0;
  &.movieList{
    width: calc(100% - 30px);
    max-width: 960px;
    padding: 0;
    margin-bottom: 30px;
  }
}

.center{
  margin-left: auto;
  margin-right: auto;
}
.tighten{
  width: fit-content;
  width: -moz-fit-content;
}

.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex{
  display: flex;
  > *{
    margin: 0px 7px;
  }
  &.col{
    flex-direction: column;
  }
  &.row{
    flex-direction: row;
  }
}

.rounded {
  border-radius: 8px;
  :first-child, :first-child img{
    border-radius: 8px 8px 0 0;
  }
  :last-child, :last-child img{
    border-radius: 0 0 8px 8px;
  }
}

.h-scroll{
  padding: 5px 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  &:hover {
    background-color: #9e9e9e;
  }
}

.ticket{
  margin-top: 2em;
  .movieEntry{
    max-width: 640px;
    padding: 0 15px;
    margin: auto;
  }
}

.full-height{
  height: calc(100vh - 52px);
}