@import '_var.scss';

body{
  margin: 0;
  padding: 0;
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}

input,textarea,select,option{
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  padding: 2px;
}

button{
  margin-right: 4px;
  border: none;
  border-radius: 6px;
  background-color: #30b7ec;
  color: white;
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding: 2px 8px;
  min-width: 52px;
  &.danger{
    background-color: rgb(223, 63, 52);
  }
  &.confirm{
    background-color: #84cc32;
  }
}

select{
  border: none;
  padding: 5px 6px;
  min-width: 140px;
  font-size: 1em;
  border-color: #222222;
  background-color: #222222;
  color: #ffcc33;
  border-radius: 6px;
  margin-bottom: 6px;
}

div.form{
  textarea, input{
    resize: vertical;
    border-radius: 2px;
    border: black 1px solid;
  }
}

h1{
  color: #FFCC33;
}

nav{
  padding: 10px;
  background-color: #333333;
  a{
    padding: 10px;
    text-decoration: none;
    color: $primary-link;
  }
}

a.card{
  user-select: none;
  -webkit-user-drag: none;
}

section{
  padding: 1em 0;
  &.main{
    padding: 0.05px;
    background-color: #222222;
  }
  &.movieList{
    width: 960px;
  }
}

.center{
  margin-left: auto;
  margin-right: auto;
}
.tighten{
  width: fit-content;
}

.flex{
  display: flex;
  > *{
    margin: 0px 7px;
  }
  &.col{
    flex-direction: column;
  }
  &.row{
    flex-direction: row;
  }
}

.rounded {
  border-radius: 8px;
  :first-child, :first-child img{
    border-radius: 8px 8px 0 0;
  }
  :last-child, :last-child img{
    border-radius: 0 0 8px 8px;
  }
}

.h-scroll{
  padding: 5px 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  &:hover {
    background-color: #9e9e9e;
  }
}