.tableEntry{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  .entry-moviePoster{
    outline: green 1px solid;
    img{
      width: 100%;
      background-color: grey;
      object-fit: contain;
    }
  }
  .entry-details{
    outline: pink 1px solid;
    display: flex;
    flex-direction: column;
    .entry-title{
      font-style: italic;
    }
    .entry-description{
      // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 300;
      font-size: 0.85em;
    }
  }
  .entry-action{
    outline: lightseagreen 1px solid;
  }
}