div.poster{  
  height: 180px;
  min-width: 150px;
  img{
    display: block;
    height: 100%;
    object-fit: fill;
    background-color: #22222211;
  }
}

.title{
  font-size: 1em;
  color: lightgrey;
}
.subtitle{
  font-size: .75em;
  color: darkgrey;
}